<pre class="ascii-portrait" role="img" aria-label="ASCII portrait of Prem">














                                         ..,..
                                     .   ,irssr,
                                .    ,:r23hMh52i.
                                 .r3HGSS###Gh2r:.
                             .sX2G&amp;@&amp;B#GSShA;.
                            :MHh5Xi::sA25Ai.
                            s2i,     .,ASMi    ,.
                            iir.:i... sH&amp;BA   ,;,
                            A3i,23r:;AHS993   ,:ii;::.
                            3Sh33h33M#9999Gr  ,isrrr;.
                          ;:M#9BB99B&amp;@B9@@#3,  :ssi:,
                          : 5S9&amp;&amp;&amp;&amp;@&amp;#B#M5i:    ,;:,
                           ,iH#&amp;@@@&amp;S##: s;       .
                           rA5S9B&amp;B9#&amp;#2s2s;.
                           .#3MS#9##SM3533XXr,
                            rS3GSSGhXiX2Asr,
               ,iX5hMMMh,.   :i3HGHA: ;rXAiir.
          :r5M#B&amp;B@&amp;9&amp;9@5ir:,;:i53h2rXHh2X;;:
     .sHGM9@3B@@BS99HSBBB;ss5XG2:X2X;X33X;,,..
  .:29@@@&amp;G#XBB&amp;SG9S9hS&amp;@5,sHMA@r.r;.;23Mh2Xr:
XG9&amp;@@&amp;&amp;&amp;@BXX9&amp;&amp;3G9M#G3&amp;&amp;B::3959B. . ,irri;,.
@##@&amp;&amp;&amp;9&amp;&amp;BiA#@#XGSHGB5#@@h X#HM@M Xr.
&amp;Sh@&amp;@#3GS&amp;XAS&amp;MrHGHH&amp;HM@&amp;&amp;i,HGM9@A;MM2;.
&amp;B59@B3A3hBA3S#X;3HhM@S3&amp;&amp;@G XGM#&amp;B;XHM3Ai,
@@h5&amp;GriX29MMHhi:2h2H@#h&amp;@&amp;&amp;X.M3#&amp;@SiMG32Xi:
B@#XhHiisX##53A,,232#@#M&amp;@@&amp;S,s3h&amp;&amp;@3ABBGhAr:                 ..
S&amp;@5i5:,i;GSXXi,;2259@SS@&amp;&amp;BBh.A2#@&amp;&amp;55&amp;@&amp;B#H3Asi:.      .   ,;r
MG@3,i..:,MGs;:,i2X3B@#B@9#BB&amp;X;XM&amp;&amp;@#239@@&amp;B#GhAi:. .. .rr ;XAr
3XG2 .. ..hM;,:,r5sM&amp;&amp;9&amp;9HG9BBS:;AS&amp;&amp;&amp;M32HB9##Gh2s;,,X::r3h;:5HX
2iri.     3h;,:,X5XGB&amp;&amp;BG3M##BB5,rh9@@&amp;2M25##SG2rirXM2;33HhX,AhA
i,,.      55;,,,s52S9B9#H5hS#BB#s,XH&amp;&amp;BGsH5AS9MXXhG#H.r#h225,iGH
. .       52:,.:A22S##SSG52G#9B9H;:5B#h#H;H3AMMH#9#Hi AGs5H2A;Xh
         .2X:. ,225SSSSGS5shS#9#S3,;Mh2H93,HH2hS9#HA. 3hAXh5hs.;
         ,2s:..;2A3GGGSSGAiAGS9#SSA.iAA3H#2,hSHMHhA; ;h33:rrs;,;
         :Ai:..i2AhMGGSGMAishS##SSHr.iA5hHSX:3GHh2r, sHM3 ,rri2A
         :X;, .rXA3MGGHh3Xii2GSSSGGh;.is2hHHri3MMhr ,AG5Ms.sis3r
         is:. .iX23MHMh32si;XHGSGHGH2,.iXA5MhrX3MHr.i5Gh22.,:ir;
         ir,  ,rXA5hMh32Ar;,rMHGHHMM3s.,irX5M2r23hX;s5GGXX;  ;.
</pre>
